* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #000;
    color: #ffffff;
}

.interface{
    height: 80px;
    background-color: #ffffffd5;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 2px solid #223066;
}

.interface .logo-expresso{
    width: 200px;
}

.interface .menu{
    font-size: 15px;
    border: none;
    display: flex;
    gap: 40px;
    font-weight: bolder;
}

.interface .menu a{
    color: #000;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.interface .menu a:hover{
    color: #223066;
    transform: scale(1.08);
}

.btn-suporte{
    font-size: 35px;
    border: none;
    padding: 0 7px;
    border-radius: 40px;
    font-weight: bolder;
    cursor: pointer;
}

.btn-suporte:hover{
    transition: 1.2s;
    transform: scale(1.05);
    box-shadow: 0 0 10px #223066;
}